:root{
  --fontFamily: "Montserrat", sans-serif;
}

body{
  font-family: var(--fontFamily);
}

* {
  font-family: var(--fontFamily);
}

.active.navbar-brand {
    color: #fff;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a{
  text-decoration: none;
}