.colorDisplay{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px 0;
     width: 100%;
     font-size: 1.6rem;
}

.button-group{
     display: flex;
     gap: 15px;
}